@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PrintingBooksPortal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3 mb-2">
                    <strong class="text-uppercase text-muted small">Admin Panel</strong>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/dashboard">
                        <span class="bi bi-speedometer2" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/boards">
                        Educational Boards
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/books">
                        Books
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/shops">
                        Bookshops
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/assignments">
                        Assign Books
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/analytics">
                        Analytics
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Shop">
            <Authorized>
                <div class="nav-item px-3 mb-2">
                    <strong class="text-uppercase text-muted small">Bookshop Portal</strong>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/shop/mybooks">
                        My Books
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/shop/history">
                        Print History
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3 mt-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
    </nav>
</div>
