@page "/access-denied"
@layout PublicLayout

<div class="error-page">
    <div class="container">
        <div class="row min-vh-100 align-items-center justify-content-center">
            <div class="col-md-6 text-center">
                <div class="error-code text-warning">403</div>
                <h1 class="error-title">Access Denied</h1>
                <p class="error-description">You do not have permission to access this page.</p>
                <a href="/" class="btn btn-primary btn-lg px-4">Go Home</a>
            </div>
        </div>
    </div>
</div>