@page "/access-denied"
@layout PublicLayout

<div class="container mt-5 text-center">
    <h1 class="display-4 text-danger">Access Denied</h1>
    <p class="lead">You do not have permission to access this page.</p>
    <a href="/" class="btn btn-primary">Go Home</a>
</div>
