<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployServiceURL>https://site79455.siteasp.net:8172/msdeploy.axd?site=site79455</MSDeployServiceURL>
    <DeployIisAppPath>site79455</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
    <UserName>site79455</UserName>
    <Password>Q#r8_q3D6Nj%</Password>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <AuthType>Basic</AuthType>
  </PropertyGroup>
  <ItemGroup>
    <MsDeploySkipRules Include="SkipAppData">
      <SkipAction>Delete</SkipAction>
      <ObjectName>dirPath</ObjectName>
      <AbsolutePath>^App_Data</AbsolutePath>
    </MsDeploySkipRules>
  </ItemGroup>
</Project>